<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
  	<title>GS App</title>
  </head>
  <body>

    <div class="navbar">
      <a href="#section1">Sección 1</a>
      <a href="#section2">Sección 2</a>
      <a href="#section3">Sección 3</a>
      <a href="#section4">Sección 4</a>
      <a href="#section5">Sección 5</a>
      <a href="#section6">Sección 6</a>
      <a href="#section7">Sección 7</a>
      <a href="#section8">Sección 8</a>
      <a href="#final">Final</a>
    </div>

    <div class="main-container">


      <div class="list">
        <!-- <div class="add-box">
            <button class="show-add-window-button">Agregar jugador</button>
        </div> -->
        <div class="player-list">

          

          <% players.forEach(player=>{ %>
          
            <div class="player" draggable="true">
              <span class="player-ranking"><%=player.ranking%></span>.
              <img src="<%=player.flag%>" class="flag"> 
              <span class="player-name"><%=player.name%></span>
            </div>
          

          <%});%>

        </div>
      </div>


      <div class="main-content">



        <hr id="section1">

        <div class="section section1">

          <h2>Sección 1</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section2">

        <div class="section section2">

          <h2>Sección 2</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section3">

        <div class="section section3">

          <h2>Sección 3</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section4">

        <div class="section section4">

          <h2>Sección 4</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section5">

        <div class="section section5">

          <h2>Sección 5</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section6">

        <div class="section section6">

          <h2>Sección 6</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section7">

        <div class="section section7">

          <h2>Sección 7</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="section8">

        <div class="section section8">

          <h2>Sección 8</h2>

          <div class="table-header">
              <div class="t1">Primera ronda</div>
              <div class="t2">Segunda ronda</div>
              <div class="t3">Tercera ronda</div>
              <div class="t4">Cuarta ronda</div>
            </div>
            
          <div class="container">


            <div class="match m1">
            	<div class="player-cell-move player-cell m1p1"> </div>
            	<div class="player-cell-move player-cell m1p2"> </div>
            </div>

            <div class="match m2">
            	<div class="player-cell-move player-cell m2p1"> </div>
            	<div class="player-cell-move player-cell m2p2"> </div>
            </div>

            <div class="match m3">
            	<div class="player-cell-move player-cell m3p1"> </div>
            	<div class="player-cell-move player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
            	<div class="player-cell-move player-cell m4p1"> </div>
            	<div class="player-cell-move player-cell m4p2"> </div>
            </div>

            <div class="match m5">
            	<div class="player-cell-move player-cell m5p1"> </div>
            	<div class="player-cell-move player-cell m5p2"> </div>
            </div>

            <div class="match m6">
            	<div class="player-cell-move player-cell m6p1"> </div>
            	<div class="player-cell-move player-cell m6p2"> </div>
            </div>

            <div class="match m7">
            	<div class="player-cell-move player-cell m7p1"> </div>
            	<div class="player-cell-move player-cell m7p2"> </div>
            </div>

            <div class="match m8">
            	<div class="player-cell-move player-cell m8p1"> </div>
            	<div class="player-cell-move player-cell m8p2"> </div>
            </div>

            <div class="match m9">
            	<div class="player-cell m9p1"> </div>
            	<div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
            	<div class="player-cell m10p1"> </div>
            	<div class="player-cell m10p2"> </div>
            </div>

            <div class="match m11">
            	<div class="player-cell m11p1"> </div>
            	<div class="player-cell m11p2"> </div>
            </div>

            <div class="match m12">
            	<div class="player-cell m12p1"> </div>
            	<div class="player-cell m12p2"> </div>
            </div>

            <div class="match m13">
            	<div class="player-cell m13p1"> </div>
            	<div class="player-cell m13p2"> </div>
            </div>

            <div class="match m14">
            	<div class="player-cell m14p1"> </div>
            	<div class="player-cell m14p2"> </div>
            </div>

            <div class="match m15">
            	<div class="player-cell m15p1"> </div>
            	<div class="player-cell m15p2"> </div>
            </div>
            

            <div class="c1"></div>
            <div class="c2"></div>
            <div class="c3"></div>
            <div class="c4"></div>
            <div class="c5"></div>
            <div class="c6"></div>
            <div class="c7"></div>
            <div class="c8"></div>
            <div class="c9"></div>
            <div class="c10"></div>
            <div class="c11"></div>
            <div class="c12"></div>
            <div class="c13"></div>
            <div class="c14"></div>
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm5">&#10095;</button>
            <button class="button-info bm6">&#10095;</button>
            <button class="button-info bm7">&#10095;</button>
            <button class="button-info bm8">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm11">&#10095;</button>
            <button class="button-info bm12">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
            <button class="button-info bm14">&#10095;</button>
            <button class="button-info bm15">&#10095;</button>
          </div>
        </div>

        <hr id="final">

        <div class="section final-section">

          <h2>Final</h2>

          <div class="table-header">
              <div class="t1">Cuartos de final</div>
              <div class="t2">Semifinal</div>
              <div class="t3">Final</div>
              
            </div>
            
          <div class="final-container">


            <div class="match m1">
              <div class="final-1 player-cell m1p1"> </div>
              <div class="final-2 player-cell m1p2"> </div>
            </div>

            <div class="match m2">
              <div class="final-3 player-cell m2p1"> </div>
              <div class="final-4 player-cell m2p2"> </div>
            </div>

            <div class="match m3">
              <div class="final-5 player-cell m3p1"> </div>
              <div class="final-6 player-cell m3p2"> </div>
            </div>
            

            <div class="match m4">
              <div class="final-7 player-cell m4p1"> </div>
              <div class="final-8 player-cell m4p2"> </div>
            </div>

            <div class="match m9">
              <div class="player-cell m9p1"> </div>
              <div class="player-cell m9p2"> </div>
            </div>

            <div class="match m10">
              <div class="player-cell m10p1"> </div>
              <div class="player-cell m10p2"> </div>
            </div>

            <div class="match m13">
              <div class="player-cell m13p1"> </div>
              <div class="player-cell m13p2"> </div>
            </div>


            <div class="c1"></div>
            <div class="c2"></div>
            
            
            <div class="c5"></div>
        
            
            <div class="c8"></div>
            <div class="c9"></div>

            <div class="c12"></div>
            
            
            
           

            <button class="button-info bm1">&#10095;</button>
            <button class="button-info bm2">&#10095;</button>
            <button class="button-info bm3">&#10095;</button>
            <button class="button-info bm4">&#10095;</button>
            <button class="button-info bm9">&#10095;</button>
            <button class="button-info bm10">&#10095;</button>
            <button class="button-info bm13">&#10095;</button>
          </div>
        </div>


      </div>
    </div>

    <div class="modal-add-player">
      <div class="add-player-window">
        
        <div>
          <label class="" for="">Nombre</label>
          <input type="text" id="p-name" name="">
        </div>
        <div>
          <label class="" for="">Ranking</label>    
          <input type="number" id="p-ranking" name="">
        </div>

        <label>País</label>
        <select id="country-list">
          <option class="option" selected disabled hidden>Seleccionar</option>
          <option value="argentina">Argentina</option>
          <option value="argelia">Argelia</option>
        </select>

        <div class="add-players-buttons">
          <button class="accept-player-button" type="button">Aceptar</button>
          <button class="cancel-player-button" type="button">Cancelar</button>
        </div>

      </div>
    </div>

    <div class="modal-score">

      <div class="score">
        <h3>Ganador de la llave</h3>

        <div class="score-container">
          
          <div class="score-left">
            <div class="player-option">

              <input type="radio" id="player1" name="radio1">
              <div class="flag-option"></div>
              <label class="player-label" for="player1"></label>
              
            </div>

            <div class="player-option">

              <input type="radio" id="player2" name="radio1">
              <div class="flag-option"></div>
              <label class="player-label" for="player2"></label>

            </div>
          </div>


        </div>

        <div class="score-buttons">
          <button class="accept-button" type="button">Aceptar</button>
          <button class="cancel-button" type="button">Cancelar</button>
        </div>

      </div>
    </div>

    <script src="./script.js" type="module"></script>
  </body>
</html>

