<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>
		*{
			margin: 0;
			padding: 0;
			font-family: 'Rubik';
      scroll-behavior: smooth !important;
		}


    .main-container{
      margin: 10px 20px 10px 22%;

    }


    
 
.section{
  margin: 40px 0;
}

.table-header {
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr 0.4fr 1fr 0.4fr 1fr;
    grid-template-rows: 1fr;
    
    margin: 25px 0 ;
    /* border: solid 1px; */
}
.table-header div{
  text-align: center;
  padding: 5px;
  background-color: #505050;
  color: #ffffff;
}

.t1{
  grid-area: 1/1/2/2;
}

.t2{
grid-area: 1/3/2/4;
}

.t3{
grid-area: 1/5/2/6;
}

.t4{
grid-area: 1/7/2/7;
}

.container {
  display: grid;
  grid-template-columns:2fr 0.4fr 0.5fr 0.5fr 2fr 0.4fr 0.5fr 0.5fr 2fr 0.4fr 0.5fr 0.5fr 2fr 0.4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}
	
.c1,.c2,.c3,.c4,.c5,.c6,.c7{
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	border-right: solid 3px black;
	border-left: 0;
}

.c8,.c9,.c10,.c11,.c12,.c13,.c14{
  border-top: solid 3px black;
}




.m1      { grid-area: 1 / 1 / 3 / 2; }
.m2      { grid-area: 4 / 1 / 6 / 2; }
.m4      { grid-area: 10 / 1 / 12 / 2; }
.m5      { grid-area: 13 / 1 / 15 / 2; }
.m6      { grid-area: 16 / 1 / 18 / 2; }
.m7      { grid-area: 19 / 1 / 21 / 2; }
.m8      { grid-area: 22 / 1 / 24 / 2; }
.m3      { grid-area: 7 / 1 / 9 / 2; }
.c1      { grid-area: 2 / 3 / 5 / 4; }
.c2      { grid-area: 8 / 3 / 11 / 4; }
.c3      { grid-area: 14 / 3 / 17 / 4; }
.c4      { grid-area: 20 / 3 / 23 / 4; }
.c5      { grid-area: 4 / 7 / 10 / 8; }
.c6      { grid-area: 16 / 7 / 21 / 8; }
.c7      { grid-area: 7 / 11 / 18 / 12; }
.c8      { grid-area: 4 / 4 / 5 / 5; }
.c9      { grid-area: 10 / 4 / 11 / 5; }
.c10      { grid-area: 16 / 4 / 17 / 5; }
.c11      { grid-area: 21 / 4 / 22 / 5; }
.c12      { grid-area: 7 / 8 / 8 / 9; }
.c13      { grid-area: 18 / 8 / 19 / 9; }
.c14      { grid-area: 12 / 12 / 13 / 13; }
.bm1      { grid-area: 1 / 2 / 3 / 3; }
.m1p1    { grid-area: 1 / 1 / 2 / 2; }
.m1p2    { grid-area: 2 / 1 / 3 / 2; }
.m2p1    { grid-area: 4 / 1 / 5 / 2; }
.m2p2    { grid-area: 5 / 1 / 6 / 2; }
.m3p1    { grid-area: 7 / 1 / 8 / 2; }
.m3p2    { grid-area: 8 / 1 / 9 / 2; }
.m4p1    { grid-area: 10 / 1 / 11 / 2; }
.m4p2    { grid-area: 11 / 1 / 12 / 2; }
.m5p1    { grid-area: 13 / 1 / 14 / 2; }
.m5p2    { grid-area: 14 / 1 / 15 / 2; }
.m6p1    { grid-area: 16 / 1 / 17 / 2; }
.m6p2    { grid-area: 17 / 1 / 18 / 2; }
.m7p1    { grid-area: 19 / 1 / 20 / 2; }
.m7p2    { grid-area: 20 / 1 / 21 / 2; }
.m8p1    { grid-area: 22 / 1 / 23 / 2; }
.m8p2    { grid-area: 23 / 1 / 24 / 2; }
.m9     { grid-area: 3 / 5 / 5 / 6; }
.m10     { grid-area: 9 / 5 / 11 / 6; }
.m11    { grid-area: 15 / 5 / 17 / 6; }
.m12    { grid-area: 20 / 5 / 22 / 6; }
.m13    { grid-area: 6 / 9 / 8 / 10; }
.m14    { grid-area: 17 / 9 / 19 / 10; }
.m15    { grid-area: 11 / 13 / 13 / 14; }
.m9p1    { grid-area: 3 / 5 / 4 / 6; }
.m9p2    { grid-area: 4 / 5 / 5 / 6; }
.m10p1 { grid-area: 9 / 5 / 10 / 6; }
.m10p2 { grid-area: 10 / 5 / 11 / 6; }
.m11p1 { grid-area: 15 / 5 / 16 / 6; }
.m11p2 { grid-area: 16 / 5 / 17 / 6; }
.m12p1 { grid-area: 20 / 5 / 21 / 6; }
.m12p2 { grid-area: 21 / 5 / 22 / 6; }
.m13p1 { grid-area: 6 / 9 / 7 / 10; }
.m13p2 { grid-area: 7 / 9 / 8 / 10; }
.m14p1 { grid-area: 17 / 9 / 18 / 10; }
.m14p2 { grid-area: 18 / 9 / 19 / 10; }
.m15p1 { grid-area: 11 / 13 / 12 / 14; }
.m15p2 { grid-area: 12 / 13 / 13 / 14; }
.bm2   { grid-area: 4 / 2 / 6 / 3; }
.bm3   { grid-area: 7 / 2 / 9 / 3; }
.bm4   { grid-area: 10 / 2 / 12 / 3; }
.bm5   { grid-area: 13 / 2 / 15 / 3; }
.bm6   { grid-area: 16 / 2 / 18 / 3; }
.bm7   { grid-area: 19 / 2 / 21 / 3; }
.bm8   { grid-area: 22 / 2 / 24 / 3; }
.bm9   { grid-area: 3 / 6 / 5 / 7; }
.bm10   { grid-area: 9 / 6 / 11 / 7; }
.bm11   { grid-area: 15 / 6 / 17 / 7; }
.bm12   { grid-area: 20 / 6 / 22 / 7; }
.bm13   { grid-area: 6 / 10 / 8 / 11; }
.bm14   { grid-area: 17 / 10 / 19 / 11; }
.bm15   { grid-area: 11 / 14 / 13 / 15; }

.match{
	
	display: flex;
  flex-direction: column;
  background-color: #ababab;
  /*box-shadow: 1px 1px 5px #000000;*/
  row-gap: 2px;
}


}
.player{
	
	padding: 5px;
}

/*.match div:first-child{
	border-bottom: solid 2px white;
}*/

.button-info{
    background-color: #505050;
    font-size: 21px;
    cursor: pointer;
    border: 0;
    border-radius: 0px;
    color: #dbdbdb;
    /*box-shadow: 1px 1px 5px #000000;*/
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
  
.button-info:hover{
  background-color: #2a2a2a;
  color: #dfdfdf;
}

.button-info:active{
  background-color: #000000

}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3c3b3b;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;

}

.navbar a{
  padding: 7px 9px;
  text-decoration: none;
  color: white;
  height: 100%;
}
.navbar a:hover{
  color:  #3c3b3b;
  background-color:white;
}

/* - - - - - - - - - - - - - - - - - - - - */

.player-list{
      display: flex;
      flex-direction: column;
      width: 20%;
      height: 95vh;
      overflow-y: scroll;
      position: fixed;
      top: 33px;
      left: 0;
      background-color: #646464;
    }


  .flag{
      width: 20px;
      height: 15px;
      margin: 0 6px;
      pointer-events: none
    }
    .player-ranking{
      pointer-events: none
    }
    .player-name
  {
    pointer-events: none
  }
  
    .player{
      display: flex;
      padding: 7px;
      background-color: #303030;
      color: #efefef;
      font-family: monospace;
      font-size: 15px;
      cursor: move;
      transition: all 0.1s;
      /*border-bottom:   solid 2px #060606;*/
    }

    .player:active{
      background-color: #161616
    }

    .player-list .player{
      border-bottom: solid 1px #646464;
      
    }

/*  .player:hover{
      background-color: #1e1e1e;
    }*/

 /*   .player:active{
      cursor: grabbing;
    }*/
    .player-cell{
      min-height: 30px;
    }

    .player-cell .player{
      background-color: #cacaca;
      color: black;
      border-bottom: 0;
      font-size: 15px;
  
    }

  .invisible{
    display: none;
    }

        

    .sortable-chosen{
      background-color: green;
    }


    .modal-score{
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .score{
      display: flex;
      flex-direction: column;
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 30%;
    }
    .score-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px 15px;
      gap: 20px;
    
    }
    .score-buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
    }
    .score-buttons button{
      width: 100%;
      border: 0;
      padding: 8px 0;
      font-size: 14px;
      cursor: pointer;
    }

  
    .player-option{
      display: flex;
    /* flex-direction: row; */
    /* align-content: center; */
    /* vertical-align: middle; */
      padding: 5px;
      border-radius: 5px;
    }

    .player-option:hover{
      transition: all 0.2s;
      background-color: #ededed;
      box-shadow: 0 0 5px #959595;

    }

    .flag-option{
      margin: 0 5px;
      color: blue;
    }


    .flag-option img{
      height: 20px;
      width: 35px;
    }

    .player-option label{
      cursor: pointer;
    }

    .name{
      margin-top: 10px;
    }

    .accept-button{
      background-color: #0048ab;
      color: white;
    }

    .accept-button:hover{
      background-color:#0d64dd;
    }

    .cancel-button{
      background-color: black;
      color: white;
    }

    .cancel-button:hover{
      background-color: #1e1e1e;
      
    }

    .checked{
      border: solid 5px #03bf00;
    }
    .unchecked{
      border: solid 5px transparent;
    }



</style>

</head>
<body>

<div class="navbar">
  <a href="#section1">Sección 1</a>
  <a href="#section2">Sección 2</a>
  <a href="#section3">Sección 3</a>
  <a href="#section4">Sección 4</a>
  <a href="#section5">Sección 5</a>
  <a href="#section6">Sección 6</a>
  <a href="#section7">Sección 7</a>
  <a href="#section8">Sección 8</a>
  <a href="#final">Final</a>
</div>

<div class="player-list">

    <% players.forEach(player=>{ %>
    
      <div class="player" draggable="true">
        <span class="player-ranking"><%=player.ranking%></span>.
        <img src="<%=player.flag%>" class="flag"> 
        <span class="player-name"><%=player.name%></span>
      </div>
    

    <%});%>

</div>

<div class="main-container">

  <hr id="section1">

  <div class="section section1">

    <h2>Sección 1</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
      	<div class="player-cell m1p1"> </div>
      	<div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
      	<div class="player-cell m2p1"> </div>
      	<div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
      	<div class="player-cell m3p1"> </div>
      	<div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
      	<div class="player-cell m4p1"> </div>
      	<div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
      	<div class="player-cell m5p1"> </div>
      	<div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
      	<div class="player-cell m6p1"> </div>
      	<div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
      	<div class="player-cell m7p1"> </div>
      	<div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
      	<div class="player-cell m8p1"> </div>
      	<div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
      	<div class="player-cell m9p1"> </div>
      	<div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
      	<div class="player-cell m10p1"> </div>
      	<div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
      	<div class="player-cell m11p1"> </div>
      	<div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
      	<div class="player-cell m12p1"> </div>
      	<div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
      	<div class="player-cell m13p1"> </div>
      	<div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
      	<div class="player-cell m14p1"> </div>
      	<div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
      	<div class="player-cell m15p1"> </div>
      	<div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section2">

  <div class="section section2">

    <h2>Sección 2</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section3">

  <div class="section section3">

    <h2>Sección 3</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section4">

  <div class="section section4">

    <h2>Sección 4</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section5">

  <div class="section section5">

    <h2>Sección 5</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section6">

  <div class="section section6">

    <h2>Sección 6</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section7">

  <div class="section section7">

    <h2>Sección 7</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="section8">

  <div class="section section8">

    <h2>Sección 8</h2>

    <div class="table-header">
        <div class="t1">Primera ronda</div>
        <div class="t2">Segunda ronda</div>
        <div class="t3">Tercera ronda</div>
        <div class="t4">Cuarta ronda</div>
      </div>
      
    <div class="container">


      <div class="match m1">
        <div class="player-cell m1p1"> </div>
        <div class="player-cell m1p2"> </div>
      </div>

      <div class="match m2">
        <div class="player-cell m2p1"> </div>
        <div class="player-cell m2p2"> </div>
      </div>

      <div class="match m3">
        <div class="player-cell m3p1"> </div>
        <div class="player-cell m3p2"> </div>
      </div>
      

      <div class="match m4">
        <div class="player-cell m4p1"> </div>
        <div class="player-cell m4p2"> </div>
      </div>

      <div class="match m5">
        <div class="player-cell m5p1"> </div>
        <div class="player-cell m5p2"> </div>
      </div>

      <div class="match m6">
        <div class="player-cell m6p1"> </div>
        <div class="player-cell m6p2"> </div>
      </div>

      <div class="match m7">
        <div class="player-cell m7p1"> </div>
        <div class="player-cell m7p2"> </div>
      </div>

      <div class="match m8">
        <div class="player-cell m8p1"> </div>
        <div class="player-cell m8p2"> </div>
      </div>

      <div class="match m9">
        <div class="player-cell m9p1"> </div>
        <div class="player-cell m9p2"> </div>
      </div>

      <div class="match m10">
        <div class="player-cell m10p1"> </div>
        <div class="player-cell m10p2"> </div>
      </div>

      <div class="match m11">
        <div class="player-cell m11p1"> </div>
        <div class="player-cell m11p2"> </div>
      </div>

      <div class="match m12">
        <div class="player-cell m12p1"> </div>
        <div class="player-cell m12p2"> </div>
      </div>

      <div class="match m13">
        <div class="player-cell m13p1"> </div>
        <div class="player-cell m13p2"> </div>
      </div>

      <div class="match m14">
        <div class="player-cell m14p1"> </div>
        <div class="player-cell m14p2"> </div>
      </div>

      <div class="match m15">
        <div class="player-cell m15p1"> </div>
        <div class="player-cell m15p2"> </div>
      </div>
      

      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
      <div class="c5"></div>
      <div class="c6"></div>
      <div class="c7"></div>
      <div class="c8"></div>
      <div class="c9"></div>
      <div class="c10"></div>
      <div class="c11"></div>
      <div class="c12"></div>
      <div class="c13"></div>
      <div class="c14"></div>
      
     

      <button class="button-info bm1">&#10095;</button>
      <button class="button-info bm2">&#10095;</button>
      <button class="button-info bm3">&#10095;</button>
      <button class="button-info bm4">&#10095;</button>
      <button class="button-info bm5">&#10095;</button>
      <button class="button-info bm6">&#10095;</button>
      <button class="button-info bm7">&#10095;</button>
      <button class="button-info bm8">&#10095;</button>
      <button class="button-info bm9">&#10095;</button>
      <button class="button-info bm10">&#10095;</button>
      <button class="button-info bm11">&#10095;</button>
      <button class="button-info bm12">&#10095;</button>
      <button class="button-info bm13">&#10095;</button>
      <button class="button-info bm14">&#10095;</button>
      <button class="button-info bm15">&#10095;</button>
    </div>
  </div>

  <hr id="final">



</div>


<div class="modal-score">

  <div class="score">
    <h3>Ganador</h3>

    <div class="score-container">
      
      <div class="player-option">

        <input type="radio" id="player1" name="radio1">
        <div class="flag-option"></div>
        <label class="player-label" for="player1"></label>
        
      </div>

      <div class="player-option">

        <input type="radio" id="player2" name="radio1">
        <div class="flag-option"></div>
        <label class="player-label" for="player2"></label>

      </div>

    </div>

    <div class="score-buttons">
      <button class="accept-button" type="button">Aceptar</button>
      <button class="cancel-button" type="button">Cancelar</button>
    </div>

  </div>

</div>

<script src="./script.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</body>
</html>