<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}

		li{
			padding: 10px 5px;
			border-bottom: solid 1px white;
			background-color: gray;
			color: white;
		}


		.container{
			display: flex;
			flex-direction: row;
			border: solid 1px;
			justify-content: space-between;
			width: 80%;
		}

		p{
			
		}


		#items{
			overflow-y: scroll;
			min-width: 20%;
		}


	</style>

</head>
<body>


<div class="container">

	
	<ul id="items">
		<li>item 1</li>
		<li>ITEMITEMT</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>

		
	</ul>


	<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Odit necessitatibus, asperiores, quae assumenda culpa deserunt ratione iure sit esse animi enim, sequi nulla ex quos soluta est ut? Soluta, molestias.</p>
	

</div>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="./scriptTest.js" type="module"></script>
</body>
</html>